.flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 10px 0px 10px;
}

.up {
  width: 100%;
  height: 50px;
  background: black;
}

.down {
  height: 500px;
  background: gray;
}

.item {
  background: white;
  border-radius: 6px;
}

.item1 {
  height: 100px;
}

.item2 {
  height: 200px;
}

.item3 {
  height: 100px;
}